body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 15px;
  font-weight: 400;
}

/* Fonts
------------------------------------------------------------- */

h1 {
  font-size: 2.2em;
  font-weight: bold;
  margin-top: 0;
  text-transform: uppercase;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
}

h3 {
  font-size: 1.17em;
  font-weight: bold;
}

p {
  margin: 25px 0px;
  line-height: 24px;
}

p.leading {
  font-size: 23px;
  font-weight: 300;
  line-height: 32px;
}

blockquote {
  font-size: 23px;
  font-weight: 300;
  line-height: 36px;
  margin: 20px;
}

blockquote p {
  margin: 0;
  padding: 0;
  line-height: 36px;
}

blockquote:before {
  display: block;
  font-size: 40px;
  content: open-quote;
  height: 1px;
  margin-left: -0.55em;
  position:relative;
  top:-10px;
  color: #ababab;
}

/* Black and white images
------------------------------------------------------------- */

img {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

img:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
}

/* Menu
------------------------------------------------------------- */

#header {
  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
}

#header ul.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: 2px solid #1d1d1d;
}

#header ul.menu li {
  margin: 0;
  padding: 0;
  display: inline;
}

#header ul.menu li a {
  color: #1d1d1d;
  display: inline-block;
  padding: 14px 20px;
}

#header ul.menu li.current-menu-ancestor a,
#header ul.menu li.current-menu-item a {
  color: #CCCCCC;
}

#header ul.menu li:first-child a {
  padding-left: 0px;
}

#header ul.menu li:last-child a {
  padding-right: 0px;
}

#header-line {
  margin: 0;
  padding: 0;
  border-top: 2px solid #1d1d1d;
}

/* Sub Menu
------------------------------------------------------------- */

#sub-header ul.menu {
  margin: 0;
  padding: 0px;
  list-style: none;
  font-weight: 400;
  font-size: 16px;
}

#sub-header ul.menu li {
  margin: 0;
  padding: 0;
}

#sub-header ul.menu li a {
  display: none;
}

#sub-header ul.sub-menu {
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: 2px solid #1d1d1d;
}

#sub-header ul.sub-menu li {
  margin: 0;
  display: inline-block;
}

#sub-header ul.sub-menu li a {
  color: #1d1d1d;
  display: inline-block;
  padding: 8px 10px;
}

#sub-header ul.sub-menu li:first-child a {
  padding-left: 0px;
}

#sub-header ul.sub-menu li.current-menu-item a {
  color: #CCCCCC;
}

/* Main
------------------------------------------------------------- */

#main {
  margin-top: 60px;
}

/* Content
------------------------------------------------------------- */

#content {
  padding-bottom: 30px;
}

#content p:first-child {
  margin-top: 0px;
}

#content ul li {
  margin-bottom: 15px;
}

/* Attachments
------------------------------------------------------------- */

figure.attachment {
  margin-bottom: 30px;
}

figure.attachment figcaption {
  padding: 8px 8px;
  margin: 0;
  font-size: 13px;
  color: #808080;
}

figure.front-attachment {
  margin-bottom: 30px;
  position: relative;
}

figure.front-attachment figcaption {
  font-weight: bold;
  font-size: 21px;
  margin-bottom: 8px;
}

figure.front-attachment figcaption a {
  color: #1d1d1d;
  text-decoration: none;
}

figure.attachment figcaption p,
figure.front-attachment figcaption p {
  margin: 0;
}

/* Responsive
------------------------------------------------------------- */

@media (min-width: 768px) {
  
}

@media (min-width: 992px) {
  #header ul.menu li a {
    padding-left:40px;
    padding-right: 40px;
  } 
  #sub-header ul.sub-menu li a {
    padding-left: 20px;
    padding-right: 20px;
  } 
}

@media (min-width: 1200px) {
  #header ul.menu li a {
    padding-left: 60px;
    padding-right: 60px;
  }
  #sub-header ul.sub-menu li a {
    padding-left: 30px;
    padding-right: 30px;
  }
  #content {
    padding-right: 30px;
  }
}